<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div>
        <div class ="container min-container">
            <h2 class="basic-title">Adicionar promoção</h2>
            
            <!-- FORM DE PRODUTOS -->

            <% if (locals.validationErrors) { %>
                <ul class='list-unstyled'>
                    <% for (var i=0; i<validationErrors.length; i++) { %>
                    <li class='alert alert-danger'>
                        <%= validationErrors[i].msg %>
                    </li>
                    <% } %>
                </ul>
            <% } %>

            <form action="/promocoes" method="post" class="well" role="form">
                <div class="form-group">
                    <label for="descricao">Descricao</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></span>
                        <textarea name="descricao"><%=promocao.descricao%></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Gravar</button>
            </form>
        </div>
    </div>
</body>
</html>

