<html>
<head>
	<title>Erro 404 - Página não encontrada</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
	<h1 class="text-center">Erro 404 - Página não encontrada</h1> 
</body>
</html>

